/* Page-specific styling */
/*@import "Content/Identify";*/
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 40px; /* bottom = footer height */
}
.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
}
/* Màu cho các icon của fa */
.fa {
  font-size: 1.5em;
  color: #9c47fc;
  padding-right: 0.3em;
  background: -webkit-linear-gradient(#9c47fc, #356ad2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.accordion-body {
    padding: 0;
}